.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  position: relative;
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}

.box-1 {
  top: 20px;

  /* Hides element as if it's not there (compare with "visibility: hidden;"). */
  display: none;
}

.box-2 {
  left: 40px;
}

.box-3 {
  right: 20px;
  bottom: -10px;
}
