/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
}

#left {
}

#middle {
}

#right {
}

#full {
}

#division {
}

aside {
}

footer {
}
