/**
 * Static: Default positioning
 **/

.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}
