/*

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.

*/

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #d21034;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background: #333;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
